server:
  port: 8083

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:h2:mem:bookingdb
    driver-class-name: org.h2.Driver
    username: bookingservice
    password: bookingservice
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

jwt:
  secret: eee2a4f99c3d6d11da1e07616a0a4569acca30b60518c9fb5c3eaa8086216486a0b
  expiration: 3600000

feign:
  client:
    config:
      default:
        connectTimeout: 2000
        readTimeout: 2000
