server:
  port: 8081

spring:
  application:
    name: api-gateway-service
  cloud:
    gateway:
      server:
        webmvc:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: booking-service
              uri: lb://booking-service
              predicates:
                - Path=/api/bookings/**, /user/**, /booking/**, /bookings/**
              filters:
                - AddRequestHeader=X-Correlation-Id, ${random.uuid}
            - id: hotel-service
              uri: lb://hotel-service
              predicates:
                - Path=/api/hotels/**, /api/rooms/**
              filters:
                - AddRequestHeader=X-Correlation-Id, ${random.uuid}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

